{{#each filteredSetting as |fs|}}
  {{#each fs.filters as |f|}}
    <a
      {{on "click" (fn this.toggleClass f)}}
      href={{unless (eq f.link_type "onPage") f.link}}
      class="custom-category-filter {{if f.active 'active'}}"
    >
      {{#if f.icon}}
        {{d-icon f.icon}}
      {{/if}}
      {{f.link_text}}
    </a>
  {{/each}}
{{/each}}

<a
  {{on "click" this.showAll}}
  href
  class="custom-category-filter custom-category-filter-show-all hidden"
>
  {{theme-i18n "show_all"}}
</a>